:root {
    --color: #4B321D;
}

body {
    font-family: 'poopins', Arial, Helvetica, sans-serif;
    color: var(--color);
}

#header {
    padding: 43px 0 0 0;
}

.container {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.container-img {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: 0;
    color: var(--color);
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: calc(100/80);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.logo {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_header {
    margin:0;
    padding: 8px 0 0 296px;
    text-align: center;
    overflow: hidden;
    
}

.menu {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 18px;
    line-height: calc(28/18);
    
}

.menu li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 18px;
}

.heading {
    padding: 132px 0 132px 0;  
}

.text-content {
    padding: 88px 0 0 0;
}

.visual-sekcion {
    padding: 0 20px;
}

.visual-sekcion img {
    border-radius: 16px;
}

.btn {
    margin: 51px 0 0 0;
    font-size: 20px;
    line-height: calc(28.6/20);
    text-align: center;
    width: 162px;
    min-height: 50px;
    display: inline-block;
    border: solid;
    border-color: var(--color);
    border-radius: 3px;
    border-width: 2px;
    padding: 11px 2px 0 0;
}

.text-img-content {
    margin: 0;
    padding: 91px 0 0 0;
    font-size: 0;
    
}

.bloc-1 {
    margin: 0;
    width: 50%;  
    float: left;
}

.bloc-2 {
    margin: 0;
    width: 50%;
    float: right;
    padding: 329px 0 0 30px;
}

h3 {
    margin: 0;
    font-weight: 400;
    font-size: 38px;
    line-height: calc(44/38);
}

.btn2 {
    margin: 42px 0 0 -1px;
    font-size: 20px;
    line-height: calc(28.6/20);
    text-align: center;
    width: 151px;
    min-height: 50px;
    display: inline-block;
    border: solid;
    border-color: var(--color);
    border-radius: 3px;
    border-width: 2px;
    padding: 11px 2px 0 0; 
}

.bloc-3 {
    padding: 0 0 0 70px;
    margin: 0;
    width: 50%;  
    float: right;
}

.bloc-4 {
    padding: 350px 0 0 0;
    margin: 0;
    width: 50%;
    float: left;
    
}

.btn3 {
    margin: 86px 0 0 0;
    font-size: 20px;
    line-height: calc(28.6/20);
    text-align: center;
    width: 113px;
    min-height: 50px;
    display: inline-block;
    border: solid;
    border-color: var(--color);
    border-radius: 3px;
    border-width: 2px;
    padding: 10px 1px 0 0; 
}

.text-botton {
    padding: 87px 0 107px 58px;
    margin: 88px auto 0 auto;
    color: #F1F1EB;
    background: #4B321D;
    max-width: 1400px;
    border: 2px solid;
    border-radius: 16px;

}

h4 {
    margin: 43px 0 0 0;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(36.4/26);
}

.btn4 {
    margin: 52px 0 0 0;
    font-size: 20px;
    line-height: calc(28.8/20);
    text-align: center;
    width: 128px;
    min-height: 50px;
    display: inline-block;
    border: solid;
    border-color: var(--color);
    border-radius: 3px;
    border-width: 2px;
    padding: 9px 5px 0 0; 
}

#footer {
    margin: 0 auto;
    max-width: 1440px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28.8/18);
    padding: 173px 0 100px 0;
    overflow: hidden;
}

.left-footer {
    padding: 0;
    margin-right: -4px;
    max-width: 720px;
    vertical-align: top;
    float: left;
}

.left-footer p:nth-child(2) {
    margin: -19px 0 0 0;
}

.left-footer > img {
    margin: 81px 0 0 0;
}

.footer-nav {
    padding: 0;
    max-width: 720px;
    float: right;   
}

.menu2 {
    margin: 0 auto;
    list-style: none;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: auto;
}

.footer-nav ul:nth-child(3) {
    padding: 17px 0 0 174px;
}

.footer-nav ul:nth-child(2) {
    padding: 17px 0 0 174px;
}

.footer-nav ul:nth-child(1) {
    padding: 17px 0 0 0;
}